
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


* {
    font-family: 'Montserrat Alternates', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 1000px;
}
.product  {
    display: flex;
    padding: 15px;
    flex-direction: column;
    /* border: 2px solid teal; */
    background-color: rgb(248, 248, 248);
    margin: 15px;
    width: 300px;
    justify-content: space-between;
    /* align-items: center; */
    -webkit-box-shadow: 0px 0px 31px 4px rgba(26, 44, 58, 0.32);
    -moz-box-shadow: 0px 0px 31px 4px rgba(26, 44, 58, 0.32);
    box-shadow: 0px 0px 31px 4px rgba(26, 44, 58, 0.32);
    word-break:break-word;
}


.product-enter {
    transform: translateX(-350px);
    opacity: 0;
}
.product-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.product-exit {
    opacity: 1;
}
.product-exit-active {
    transform: translateX(-350px);
    opacity: 0;
    transition: all 500ms ease-in;
}